
---

---
# Manipulação de dataframe - TAREFA 2 - Parte III
---

---

##1-) Leitura dos dados

A base de dados [Churn_Modelling](https://github.com/malegopc/DSBD/blob/main/Datasets/Churn/Churn_Modelling.csv) é utilizada para prever (classificar) quando um cliente irá parar de utilizar o serviço de um banco.

Conjunto de dados (características):

* Número de Instâncias: 10.000

* Número de Atributos: 13 atributos (incluindo o target)

* Informações dos Atributos:

  1. RowNumber
  2. CustomerId
  3. Surname
  4. CreditScore
  5. Geography
  6. Gender Age
  7. Tenure
  8. Balance
  9. NumOfProducts
  10. HasCrCard
  11. IsActiveMember
  12. EstimatedSalary
  13. Exited (variável de destino - target)

*Clone o repositório de dados da disciplina (https://github.com/malegopc/DSBD), faça a leitura do arquivo **Churn_Modelling.csv** disponível na pasta [Churn_Modelling](https://github.com/malegopc/DSBD/blob/main/Datasets/Churn) e armazene-o numa variável do tipo dataframe. Basta utilizar a função [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) da biblioteca pandas.*

In [1]:
import pandas as pd

!git clone https://github.com/malegopc/DSBD.git

df = pd.read_csv('/content/DSBD/Datasets/Churn/Churn_Modelling.csv')

Cloning into 'DSBD'...
remote: Enumerating objects: 739, done.
remote: Counting objects: 100% (282/282), done.
remote: Compressing objects: 100% (167/167), done.
remote: Total 739 (delta 147), reused 218 (delta 111), pack-reused 457 (from 1)
Receiving objects: 100% (739/739), 14.80 MiB | 13.05 MiB/s, done.
Resolving deltas: 100% (355/355), done.

##2-) Visualização do dataframe

*Mostre as 5 primeiras e as 5 últimas linhas do dataframe.*

In [2]:
# Exibir as 5 primeiras linhas do DataFrame
print(df.head())

# Exibir as 5 últimas linhas do DataFrame
print(df.tail())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

##3-) Eliminação manual de variáveis

*Elimine as variáveis (colunas): 'RowNumber', 'CustomerId' e 'Surname'.*

In [3]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

##4-) Dados ausentes

*Verifique se há dados ausentes no dataframe.*

In [4]:
# Verifique se há dados ausentes no dataframe.
print(df.isnull().sum())

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

## 5-) Separa as variáveis

*Utilizando a função **[iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc)**, copie para uma variável "X" os valores de todas as variáveis (colunas) do dataframe, exceto os valores da variável "Exited".*

*E copie para uma variável "y" somente os valores da variável "Exited".*

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]